* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  column-gap: 170px;
  padding: 200px;
}

.startbtn {
  border: 0;
  padding: 20px 40px;
  background: linear-gradient(
    to right,
    rgba(135, 207, 235, 0.521),
    rgba(255, 0, 119, 0.679)
  );
  border-radius: 5px;
  font-size: large;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.startbtn:hover {
  background: linear-gradient(
    to right,
    rgba(255, 0, 119, 0.679),
    rgba(135, 207, 235, 0.521)
  );
  color: black;
}

.about {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  letter-spacing: 0.6px;
  text-align: justify;
  position: relative;
  left: 70px;
  bottom: 35px;
  width: 550px;
  color: white;
}

.pro-nav {
  display: flex;
  justify-content: center;
  color: white;
}

.main-body {
  height: 100vh;
}

body {
  background-image: url("../images/milad-fakurian-wNsHBf_bTBo-unsplash.jpg");
  background-size: contain;
  background-repeat: round;
}
